<html lang="en" >
<head>
  <title>X-Wing Quick Build</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link rel="stylesheet" href="./vendor/xwing-miniatures-font/dist/xwing-miniatures.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet">
</head>
<style>
  .threatBlock {
    width: 40px;
    height: 8px;
    margin: 0px 4px 0px;
    border-radius: 4px;
    border: 1px solid;
  }

  .threatBlock.inactive {
    background-color: transparent !important;
    border-color: #9E9E9E !important;
  }

  .pilotTitle {
    text-align: center;
    margin-bottom: 4px;
    /*font-family: 'Orbitron', sans-serif;*/
    font-variant: small-caps;
  }

  .pilotUpgrade {
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .navbar-logo {
    height: 32px;
    margin-right: 16px;
  }

  .branded {
    /*font-family: 'Orbitron', sans-serif;
    font-variant: small-caps;*/
  }

  .xwing-miniatures-ship, .xwing-miniatures-font {
    text-transform: none !important;
    font-variant: none !important;
  }

  #bottomNav {
    position: fixed;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #E0E0E0;
    z-index: 10;
    height: 48px;
    width: 100%;
  }

  #content {
    position: fixed;
    top: 62px;
    bottom: 48px;
    padding: 8px;
    overflow-y: auto;
  }

  .xwingNav {
    background-color: #000 !important;
  }
</style>
<body ng-app="QuickBuildApp" ng-controller="QuickBuildCtrl" ng-cloak layout="column" layout-align="start stretch">
  <md-toolbar class="xwingNav">
    <div class="md-toolbar-tools">
      <img class="navbar-logo" src="./img/logo.svg" alt="">

      <h2 class="branded">Quick Build</h2>

      <md-autocomplete style="margin: 0 16px;" flex
          md-selected-item="searchCard"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="searchCardChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Filter..."
          input-aria-labelledby="Filter Cards">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="i">{{item.name}}</span>
        </md-item-template>
      </md-autocomplete>

      <md-menu>
        <md-button class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
          <i class="xwing-miniatures-font xwing-miniatures-font-{{getIcon(selectedFaction.xws)}}"></i>
        </md-button>
        <md-menu-content width="4">
          <!-- ng-if="faction.xws !== selectedFaction.xws"-->
          <md-menu-item ng-repeat="faction in data.factions | orderBy:'ffg':false">
            <md-button ng-click="selectFaction(faction)">
              <i class="xwing-miniatures-font xwing-miniatures-font-{{getIcon(faction.xws)}}" md-menu-align-target></i>
              {{faction.name}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-select ng-model="selectedShips" md-selected-text="D" multiple>
        <md-option ng-repeat="ship in data.ships" ng-value="ship.xws" ng-if="ship.faction === selectedFaction.xws">
          <i class="xwing-miniatures-ship xwing-miniatures-ship-{{getIcon(ship.xws)}}" md-menu-align-target></i>
          {{ship.name}}
        </md-option>
      </md-select>

      <md-button class="md-icon-button" aria-label="">
        <i class="xwing-miniatures-ship xwing-miniatures-ship-{{getSigShip(selectedFaction.xws)}}"></i>
      </md-button>

      <!--<md-button class="md-icon-button" ng-click="">
        <i class="material-icons">search</i>
      </md-button>-->
    </div>
  </md-toolbar>

  <!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-list>
      <md-subheader class="md-no-sticky">{{selectedFaction.name}}</md-subheader>
      <md-list-item ng-repeat="ship in data.ships" ng-if="ship.faction === selectedFaction.xws" ng-click="toggleShip(ship.xws)">
        <p>{{ship.name}}</p>
        <md-checkbox class="md-secondary" ng-checked="selectedShips.indexOf(ship.xws) > -1"></md-checkbox>
      </md-list-item>
    </md-list>
  </md-sidenav>-->
  <div layout="row" layout-wrap flex style="overflow-y: auto;">
    <md-card class="pilotCard" ng-repeat="build in data.quickBuilds | orderBy:'threat':true | filter:selectedFilter | filter:costFilter | filter:searchFilter" ng-class="{'active':!((currentBuildIDs.indexOf(build.id) > -1 && build.unique) || (totalThreat + build.threat > 8))}" flex-gt-sm="33" flex-gt-xs="50" flex="100">
      <img ng-src="{{build.pilots[0].artwork}}" class="md-card-image" alt="{{build.pilots[0].name}}">
      <div layout="column" style="padding: 24px 16px 16px;">
        <div class="md-headline pilotTitle" layout="row" layout-align="center center" ng-click="showMenu($event, build.pilots[0])"><span ng-repeat="l in getArray(build.pilots[0].limited) track by $index" style="margin-right: 8px;"><i class="xwing-miniatures-font xwing-miniatures-font-unique"></i></span>{{build.pilots[0].name}}</div>
        <div class="md-subhead pilotTitle">{{build.pilots[0].ship.name}}</div>
        <div style="margin: 8px;" layout="row" layout-align="center center">
          <div class="threatBlock" ng-style="{'background-color':getThreatColor(build.threat),'border-color':getThreatColor(build.threat)}" ng-class="{inactive: $index >= build.threat}" ng-repeat="t in getArray(6) track by $index"></div>
        </div>
      </div>
      <md-card-content ng-repeat="pilot in build.pilots track by $index" flex>
        <div class="md-headline pilotTitle" ng-if="$index !== 0"><span ng-repeat="l in getArray(pilot.limited) track by $index" style="margin-right: 8px;"><i class="xwing-miniatures-font xwing-miniatures-font-unique"></i></span>{{pilot.name}}</div>
        <div class="md-subhead pilotTitle" ng-if="$index !== 0">{{pilot.ship.name}}</div>
        <div layout="row" layout-wrap>
          <md-truncate class="pilotUpgrade" ng-click="showMenu($event, upgrade)" ng-repeat="upgrade in pilot.upgrades track by $index" flex="50"><i class="xwing-miniatures-font xwing-miniatures-font-{{getIcon(upgrade.type)}}"></i> {{upgrade.name}}</md-truncate>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button ng-click="addBuild(build)" ng-disabled="(currentBuildIDs.indexOf(build.id) > -1 && build.unique) || (totalThreat + build.threat > 8)">Add</md-button>
      </md-card-actions>
    </md-card>
  </div>

  <md-button class="md-fab" aria-label="Eat cake">
      {{totalThreat}} / 8
  </md-button>




  <!--<md-toolbar>
    <div class="md-toolbar-tools">
      <div class="threatBlock" ng-class="{inactive: $index >= totalThreat}" ng-repeat="t in getArray(8) track by $index"></div>
    </div>
  </md-toolbar>-->

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script src="./js/app.js"></script>

</body>
</html>
